<div id="table-chat" class="chat-window">
    <ul class="pages">
        <li class="usersList" id="player-list">
          <h2>Lobby</h2>
          <ul class="Users" id="players-in-lobby"></ul>
        </li>
        <li class="chat page">
            <div class="chatArea">
                <ul class="messages"></ul>
            </div>
            <input class="inputMessage" placeholder="Type here...">
              <button class="sendChat" placeholder="Send"></button>
            </input>
        </li>
    </ul>
</div>