<div id="table-list">
  <div class="GameButtons">
    <% if (user == true){ %>
      <button class="createGame" placeholder="Create Game">Create Game</button>
    <% } %>
  </div>
  <div id="tables">
    
  </div>
</div>