<head>
  <meta charset="UTF-8">
  <title>Game Server</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Pacifico|Righteous|Roboto+Slab|Ubuntu|Ubuntu+Condensed&display=swap">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css"> 
</head>