<div id="login-form">
  <h2>Login</h2>
	<form method='POST' action='/users/login'>
		<input class="form-group" placeholder="Username" name='username' type='text'/>
		<input class="form-group" placeholder="Password" name='password' type='password'/>
    <br>
		<input class="btn btn-primary submit" value="Log in" type="submit"/>
	</form>
</div>