  <nav class="navbar navbar-expand-md navbar-dark navbar-home static-top">
    <div class="container nav-con">
      <a class="navbar-brand" href="/">Game Server</a>
      <a class="nav-link navbar-brand nav-game-lobby" href="/game">Game</a>    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!--<li class="nav-item">
          <a class="nav-link" href="/how-to-play">How to Play</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="/sign-in">Sign-up / Login</a>
        </li>
      </ul>
      </div>
    </div>  
  </nav>