<table id="registration-form">
  <thead><td><h2>Register</h2></td></thead>
	  <form method="POST" action="/users/register">
		<tr id="form-group">
      <td><label>Name:</label></td>
      <td><input class="form-control" name="name" type="text"/></td>
		</tr>
		<tr id="form-group">
      <td><label>Email:</label></td>
      <td><input class="form-control" name="email" type="text"/></td>
		</tr>
		<tr id="form-group">
      <td><label>Username:</label></td>
      <td><input class="form-control" name="username" type="text"/></td>
		</tr>
		<tr id="form-group">
      <td><label>Password:</label></td>
      <td><input class="form-control" name="password" type="password"/></td>
		</tr>
		<tr id="form-group">
      <td><label>Confirm Password:</label></td>
      <td><input class="form-control" name="password2" type="password"/></td>		  
		</tr>
    <tr>
      <td colspan="2"><input class="btn btn-primary submit" type="submit" value="Sign Up"/></td>
    </tr>
	  </form>  
</table>