
  <div id="room-container">
    <% include ./nav-player %>
      
      
      
    <div id="room-table">
      Welcome <%- username %>! Hello!

      <div>
      	
      </div>
      
    </div>
      
      
      
    <% include ./chat %>
  </div>
