<!DOCTYPE html>
<html lang="en" >
<% include ./includes/head %>
<body>
	<div id="game-container">
		<% include ./includes/nav-game %>
		<% include ./includes/table-list %>
		<% include ./includes/chat %>
	</div>
	<% include ./includes/scripts %>
</body>
</html>
