<!DOCTYPE html>
<html lang="en">
<% include ./includes/head %>

<body>
<% include ./includes/nav %>
<div class="sign-in-container">
	<div class="landing-form">
		<% include ./includes/login %>
	</div>
	<div class="landing-form">
		<% include ./includes/register %>
	</div>
</div>
<% include ./includes/scripts %>
</body>
</html>
