<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Room</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Pacifico|Righteous|Roboto+Slab|Ubuntu|Ubuntu+Condensed&display=swap">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/nav.css">
  <link rel="stylesheet" href="../../css/room.css">
</head>
<body>
	<% include ./includes/room %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<script src="../../js/room.js"></script>
</body>
</html>
